body {
  font-family: 'Merienda', cursive;
  height: 100%;
  position: fixed;
  margin: 0;
}


.fish{
position: absolute;
display: inline-block;
width: 100px;
height: 200px;
left: 200px;
margin: 0;
padding: 0;
transform: rotate(-90deg);
animation: swim 16s infinite;

transform-origin: center;
}

@keyframes swim {
  0%   {top:-38vh; transform: rotate(-80deg);}
  10%   {transform: rotate(-100deg);}
  20%   {transform: rotate(-80deg);}
  30%   {transform: rotate(-100deg);}
  40%   { transform: rotate(-80deg);}
  50%   {transform: rotate(-100deg);}
  60%   {transform: rotate(-80deg);}
  70%   {transform: rotate(-100deg);}
  80%   { transform: rotate(-80deg);}
  90%   { transform: rotate(-100deg);}
  100% {top:130vh;  transform: rotate(-80deg);}
}

@media (max-width: 600px) {

  #lily1 {

    z-index: 100;
  position: absolute;

     animation: lily1 50s infinite;
       transform-origin: center;
    fill:black;
    margin: 0;
    top: 0vh;
   }

   #lily1 svg{
  width: 40vw;
    margin: 0;
      transform-origin: center;
      transform: scale(2);
    }

    #lily2 svg{
   width: 50vw;
    transform: rotate(-90deg);
    transform-origin: center;
      transform: scale(2);
     }

   #lily2 {
     z-index: 100;
     position: fixed;
     top: 50vh;
     left: 70vw;
    animation: lily2 50s infinite;
    transform-origin: center;
      margin: 0;


    }


}

@media (min-width: 551px) {

  #lily1 {

    z-index: 100;
  position: absolute;

     animation: lily1 50s infinite;
       transform-origin: center;
    fill:black;
    margin: 0;
    top: 0vh;
   }

   #lily1 svg{
  width: 40vw;
    margin: 0;
      transform-origin: center;
    }

    #lily2 svg{
   width: 50vw;
    transform: rotate(-90deg);
    transform-origin: center;
     }

   #lily2 {
     z-index: 100;
     position: fixed;
     top: 50vh;
     left: 70vw;
    animation: lily2 50s infinite;
    transform-origin: center;
      margin: 0;


    }
}

@media (min-width: 800px) {
.fish #body .side-left .side-right #back .eye1 .eye2{
  transform: scale(2);
}


}

 @keyframes lily1 {
   0%   {transform: rotate(0deg);}

   100% {  transform: rotate(360deg);}
 }

 @keyframes lily2 {
   0%   {transform: rotate(0deg);}

   100% {  transform: rotate(-360deg);}
 }



#body{
position: absolute;
display: block;
width: 35%;
height: 65%;
left: 0;
transform: rotate(90deg);
background-color: #f27321;
border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
z-index: 2;
transition: 1s;
}



#side{
position: absolute;
top: -4%;
width: 100%;
height: 100%;
z-index: 1;
margin: 0;
padding:0;
}

.side-left{

position: absolute;
display: block;
width: 12%;
height: 18%;
transform: rotate(-110deg);
  background-color: #fef59c;
border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
top: 11%;
left: 5%;

animation: fin 2s infinite;
transform-origin: bottom left;
transition: 2s;
}

@keyframes fin {
0%{
  transform: rotate(50deg);
}

50%{
    transform: rotate(70deg);
}

100%{
    transform: rotate(50deg);
}
}

@keyframes fin2 {
0%{
  transform: rotate(-40deg);
}

50%{
    transform: rotate(-60deg);
}

100%{
    transform: rotate(-40deg);
}
}

.side-right{
  position: absolute;
  display: block;
  width: 12%;
  height: 18%;
  transform: rotate(-70deg);
  background-color:#fef59c;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  top: 43%;
  left: 5%;
  animation: fin2 2s infinite;
  transform-origin: top left;
  transition: 2s;
}

#back{
position: absolute;
display: block;
width: 18%;
height: 23%;
transform: rotate(-90deg);
background-color: #fef59c;
border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
top: 32%;
left: 70%;
animation: back 4s infinite;
transform-origin: top center;
transition: 2s
}

@keyframes back {
0%{
  transform: rotate(-70deg);
}

50%{
    transform: rotate(-110deg);
}

100%{
  transform: rotate(-70deg);
}

}

#eyes{
position: absolute;
width: 10%;
height: 20%;
top: 23%;
left: -30%;
}

.eye1{
  position: absolute;
  display: block;
  width: 35%;
  height: 25%;
  left: 0;
  top: 10%;
  transform: rotate(75deg);
  background-color: #573717;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  z-index: 4;
}

.eye2{
  position: absolute;
  display: block;
  width: 35%;
  height: 25%;
  left: 0;
  bottom: 15%;
  transform: rotate(105deg);
  background-color: #573717;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  z-index: 4;
}
